.example-content {
    padding: 16px;
}
pip-landing-info-block {
    margin-bottom: 8px
}


.pip-sample-item {
    width: 340px;
}

::ng-deep .img-1 {
    width: 160px !important;
    height: 160px !important;
}

::ng-deep .img-2 {
    height:  160px !important;
    width: 230px !important;
}

::ng-deep .img-5 {
    background-image: url('http://mockups.pipdevs.com/Content/General/Landing_Page/images/landing_-_rus/u14.png')
    
}