<pip-landing-info-block></pip-landing-info-block>
<pip-landing-info-item [imgPath]="img" [title]="title" [text]="text" [titleClass]="'pip-green'" [imgPosition]="'left'" class="pip-sample-item"></pip-landing-info-item>
<pip-landing-info-item [imgPath]="img" [title]="title" [text]="text" [titleClass]="'pip-orange'" class="pip-sample-item"></pip-landing-info-item>
<pip-landing-info-item [imgPath]="img" [title]="title" [text]="text" [titleClass]="'pip-green'" [imgPosition]="'bottom'" class="pip-sample-item"></pip-landing-info-item>