<pip-landing-call-to-action [title]="'СКОРЕЕ ВСЕГО, ПЕРЕД ВАМИ ТО, ЧТО ВЫ ИСКАЛИ ГОДАМИ'" [text]="'Начните пользоваться системой первыми, раньше чем она появится на рынке'"
                            [button]="'ЗАРЕГИСТРИРОВАТЬСЯ БЕСПЛАТНО'">
</pip-landing-call-to-action>

<pip-landing-call-to-action-big [title]="'СКОРЕЕ ВСЕГО, ПЕРЕД ВАМИ ТО, ЧТО ВЫ ИСКАЛИ ГОДАМИ'" [buttons]="buttons"></pip-landing-call-to-action-big>

<pip-landing-call-to-action-big [title]="'СКОРЕЕ ВСЕГО, ПЕРЕД ВАМИ ТО, ЧТО ВЫ ИСКАЛИ ГОДАМИ'" [subtitle]="'единое информационное пространство вашей жизни'"
                                [titleBig]="'Pip.life'" [list]="list" [buttons]="buttons"></pip-landing-call-to-action-big>

<pip-landing-call-to-action-big [title]="'СКОРЕЕ ВСЕГО, ПЕРЕД ВАМИ ТО, ЧТО ВЫ ИСКАЛИ ГОДАМИ'" [subtitle]="'единое информационное пространство вашей жизни'"
                                [titleBig]="'Pip.life'" [list]="list"></pip-landing-call-to-action-big>

<pip-landing-call-to-action-big [subtitle]="'единое информационное пространство вашей жизни'" [titleBig]="'Pip.life'"
                                [list]="list" [buttons]="buttons"></pip-landing-call-to-action-big>