<div class="pip-call-action">
    <div class="">
        <div class="pip-title">СКОРЕЕ ВСЕГО, ПЕРЕД ВАМИ ТО, ЧТО ВЫ ИСКАЛИ ГОДАМИ</div>
        <div fxLayout="row" fxLayoutAlign="center-center" class="layout-xs-column pip-content">
            <div fxLayout="column" fxLayoutAlign="center-end" class="pip-left-content">
                <div class="pip-text">
                    Начните пользоваться системой первыми, раньше чем она появится на рынке
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center-start" class="pip-right-content">
                <div class="pip-actions" >
                    asas
                   <!-- <md-button class="md-raised md-accent"> ЗАРЕГИСТРИРОВАТЬСЯ БЕСПЛАТНО</md-button> -->
                </div>
            </div>
        </div>
    </div>
</div>
