

<pip-call-to-action 
    [title]="'СКОРЕЕ ВСЕГО, ПЕРЕД ВАМИ ТО, ЧТО ВЫ ИСКАЛИ ГОДАМИ'"
    [text]="'Начните пользоваться системой первыми, раньше чем она появится на рынке'"
    [button]="'ЗАРЕГИСТРИРОВАТЬСЯ БЕСПЛАТНО'"></pip-call-to-action>

<pip-call-to-action-big 
    [title]="'СКОРЕЕ ВСЕГО, ПЕРЕД ВАМИ ТО, ЧТО ВЫ ИСКАЛИ ГОДАМИ'"
    [buttons]="buttons"></pip-call-to-action-big>

<pip-call-to-action-big 
    [title]="'СКОРЕЕ ВСЕГО, ПЕРЕД ВАМИ ТО, ЧТО ВЫ ИСКАЛИ ГОДАМИ'"
    [subtitle]="'единое информационное пространство вашей жизни'"
    [titleBig]="'Pip.life'"
    [list]="list"
    [buttons]="buttons"></pip-call-to-action-big>

    <pip-call-to-action-big 
    [title]="'СКОРЕЕ ВСЕГО, ПЕРЕД ВАМИ ТО, ЧТО ВЫ ИСКАЛИ ГОДАМИ'"
    [subtitle]="'единое информационное пространство вашей жизни'"
    [titleBig]="'Pip.life'"
    [list]="list"></pip-call-to-action-big>